<div class="contacts">
    <div class="contacts-header">
        <div></div>
        <div>Name</div>
        <div>Phone</div>
        <div>Email</div>
    </div>

    <div>
        <div class="contact-card" *ngFor="let contact of contacts; let i = index" [routerLink]="['/details', contact.name.first + '-' + contact.name.last, i, currPage]">
            <div class="img-col">
                <img alt="contact picture" [src]="contact.picture.thumbnail" alt="Contact Image">
            </div>
            <div class="name-col">{{contact.name.first}} {{contact.name.last}} </div>
            <div class="phone-col">{{contact.phone}}</div>
            <div class="email-col">{{contact.email}}</div>
        </div>
    </div>
</div>

<app-pagination 
    [currPage]="currPage"
    (changedPage)="onPageChange($event)"></app-pagination>