.contacts {
    width: 90%;
    margin: auto;
    background-color: var(--grey);
}
.contact {
    background-color: white;
    margin: 1em;
    color: var(--dark-grey);
    margin: auto;
    height: 5em;
}

.contacts-header {
    display: grid;
    grid-template-columns: 15% 30% 20% 35%;
    align-items: center;
}

.contact-card:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: var(--grey-blue);
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.3);
}

.contacts-header {
    color: var(--dark-grey);
    font-size: var(--small-text);
}

.contact-card {
    display: grid;
    grid-template-areas:
        "img name phone email";
    grid-template-columns: 15% 30% 20% 35%;
    height: 6em;
    background-color: white;
    margin: 1em 0;
    color: var(--darker-grey);
    align-items: center;
    font-weight: 300;
    transition: transfomr 0.5s;
    font-size: var(--small-text);
    overflow-x: auto;
    border-radius: 10px;
}

.name-col {
    font-weight: 400;
    color: var(--dark-blue);
    grid-area: name;
}

.phone-col {
    grid-area: phone;
}

.email-col {
    grid-area: email;
}

.img-col {
    grid-area: img;
}

.img-col img {
    border-radius: 50%;
    margin: auto;
    display: block;
    height: 100%;
}



@media (max-width:768px) {
    .contact-card {
        height: 7em;
        grid-template-areas:
            "img name"
            "img phone"
            "img email";
        grid-template-columns:  30% 65%;
        grid-template-rows: 50% 25% 25%;
        column-gap: 3%;
        padding-bottom: 15px;
    }

    .name-col {
        font-size: var(--medium-text);
    }

    .contacts-header {
        display: none;
    }

}